<form enctype="multipart/form-data" method="post">
    {% csrf_token %} {% for campo in formulario %}
    <div class="mb-3">
      <label for="" class="form-label">{{ campo.label }}</label>
  
      {{campo}}

      <div class="col-12 help-text">{{campo.errors}}</div>
      {% endfor %}
      <hr />
      
      <input
        name=""
        id=""
        class="btn btn-primary"
        type="submit"
        value="Registrar"
      />
  
      <a
        name=""
        id=""
        class="btn btn-dark"
        href="{% url 'perfilUsuario' user.id %}"
        role="button"
        >Regresar</a
      >
      
    </div>
  </form>
  