{% extends "base.html" %} {% block titulo %} Lista de generos {% endblock %}
{%block contenido %}

<div class="card">
  <div class="card-header">
    <a
      name=""
      id=""
      class="btn btn-primary"
      href="{% url 'crearGenero'%}"
      role="button"
      >Agregar nuevo género</a
    >
  </div>
  <div class="card-body">
    <h4 class="card-title">Tipos de Géneros</h4>
    <div class="table-responsive">
      <table class="table table-primary">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Descripión</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for genero in generos %}
          <tr class="">
            <td>{{genero.id}}</td>
            <td>{{genero.descripcionG}}</td>
            <td>
              <a
                name=""
                id=""
                class="btn btn-info"
                href="{% url 'editarGenero' genero.id %}"
                role="button"
                >Editar</a>
              |
              <a name="" id="" class="btn btn-danger" href="{% url 'eliminarGenero' genero.id %}" role="Dang">Eliminar</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer text-muted"></div>
</div>

{% endblock %}
