{% extends "base.html" %} {% block titulo %} Inicio {% endblock %} 

{% block contenido %}

<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container">
    <header>
      <nav>
        <ul>
          <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
          <li><a href="{% url 'register' %}">Registrar</a></li>
        </ul>
      </nav>
    </header>

    <h1 class="display-5">Hola {{ user.username }}</h1>
    <p class="lead">Comunidad</p>
    <hr class="my-2" />

    <p class="lead">
      <a class="btn btn-primary btn-lg" href="Jumbo " role="button"></a>Empezar
    </p>
  </div>
</div>

{% endblock %}
